.btn-outline-success{
    color:chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover{
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}

footer{
    background-color: black;
    color: white;
    font-size: 14px;
}

.first-line{
    color: white;
    border-bottom: 1px solid #392d23;
}
.second-line a{
    color: white;
    text-decoration: none;
}
.third-line{
    display: none;
}

@media screen and (max-width:48rem){
    .first-line{
        text-align: center;
    }
    .second-line{
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23;
        color: white;
    }
    .flag{
        display: none;
    }
    .third-line{
        display: block; 
    }
    .second-line-second{
        padding-top: 2rem;
    }
}

